{
    "username": "",
    "password": "",
    "gameNumber": "",
    "tmpDir": "",
    "mailFrom": "",
    "mailTo": "",
    "smtpUser": "",
    "smtpPass": "",
    "smtpAddress": "",
    "smtpPort": "",
    "smtpEncryption": ""
}
